<div id="<%= dom_id invoice %>">
  <p>
    <strong>User:</strong>
    <%= invoice.user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= invoice.company_id %>
  </p>

  <p>
    <strong>Invoice type:</strong>
    <%= invoice.invoice_type %>
  </p>

  <p>
    <strong>Base amount:</strong>
    <%= invoice.base_amount %>
  </p>

  <p>
    <strong>Vat rate:</strong>
    <%= invoice.vat_rate %>
  </p>

  <p>
    <strong>Vat amount:</strong>
    <%= invoice.vat_amount %>
  </p>

  <p>
    <strong>Retention rate:</strong>
    <%= invoice.retention_rate %>
  </p>

  <p>
    <strong>Retention amount:</strong>
    <%= invoice.retention_amount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

  <p>
    <strong>Executed:</strong>
    <%= invoice.executed %>
  </p>

</div>
