<%= form_with(model: user_extension) do |form| %>
  <% if user_extension.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_extension.errors.count, "error") %> prohibited this user_extension from being saved:</h2>

      <ul>
        <% user_extension.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :available_money, style: "display: block" %>
    <%= form.text_field :available_money %>
  </div>

  <div>
    <%= form.label :saved_irpf, style: "display: block" %>
    <%= form.text_field :saved_irpf %>
  </div>

  <div>
    <%= form.label :estimated_monthly_expense, style: "display: block" %>
    <%= form.text_field :estimated_monthly_expense %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
