<div id="<%= dom_id user_extension %>">
  <p>
    <strong>User:</strong>
    <%= user_extension.user_id %>
  </p>

  <p>
    <strong>Available money:</strong>
    <%= user_extension.available_money %>
  </p>

  <p>
    <strong>Saved irpf:</strong>
    <%= user_extension.saved_irpf %>
  </p>

  <p>
    <strong>Estimated monthly expense:</strong>
    <%= user_extension.estimated_monthly_expense %>
  </p>

</div>
