<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= company.business_name %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= company.tax_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= company.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Company type:</strong>
    <%= company.company_type %>
  </p>

</div>
