<div id="<%= dom_id vat %>">
  <p>
    <strong>User:</strong>
    <%= vat.user_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vat.year %>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= vat.quarter %>
  </p>

  <p>
    <strong>Received base sum:</strong>
    <%= vat.received_base_sum %>
  </p>

  <p>
    <strong>Received vat sum:</strong>
    <%= vat.received_vat_sum %>
  </p>

  <p>
    <strong>Paid base sum:</strong>
    <%= vat.paid_base_sum %>
  </p>

  <p>
    <strong>Paid vat sum:</strong>
    <%= vat.paid_vat_sum %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= vat.total %>
  </p>

  <p>
    <strong>Declaration made:</strong>
    <%= vat.declaration_made %>
  </p>

  <p>
    <strong>Declaration collected:</strong>
    <%= vat.declaration_collected %>
  </p>

</div>
